@if (isServer || authService.isInitializing() || hasLocalSession) {
  <p class="text-center mt-10">Cargando...</p>
}
@else if (!currentUser()) {
  <div class="min-h-screen">
    <div class="grid lg:grid-cols-3 md:grid-cols-2 items-center min-h-screen">

      <div class="lg:col-span-2 w-full p-6 max-w-md mx-auto">

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

          <div class="mb-6">
            <h1 class="text-slate-900 text-xl font-bold text-center">
              CITADEL – Iniciar Sesión
            </h1>
          </div>

          <div class="space-y-4">

            <div>
              <label class="text-slate-900 text-sm font-medium mb-1 block">
                Correo electrónico
              </label>
              <input type="email" formControlName="email" placeholder="correo@ejemplo.com" class="text-slate-900 bg-white border w-full text-sm px-3 py-2 outline-none transition
                      focus:ring-2 focus:ring-secondary focus:border-secondary" />

              @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
                <p class="text-red-500 text-xs mt-1">
                  @if (loginForm.get('email')?.errors?.['required']) {
                  El email es obligatorio
                  }
                  @if (loginForm.get('email')?.errors?.['email']) {
                  Debe ingresar un email válido
                  }
                </p>
              }
            </div>

            <div>
              <label class="text-slate-900 text-sm font-medium mb-1 block">
                Contraseña
              </label>
              <input type="password" formControlName="contrasena" placeholder="••••••••" class="text-slate-900 bg-white border w-full text-sm px-3 py-2 outline-none transition
                      focus:ring-2 focus:ring-secondary focus:border-secondary" />

              @if (loginForm.get('contrasena')?.invalid && loginForm.get('contrasena')?.touched) {
                <p class="text-red-500 text-xs mt-1">
                  @if (loginForm.get('contrasena')?.errors?.['required']) {
                  La contraseña es obligatoria
                  }
                </p>
              }
            </div>

          </div>

          @if (errorMessage(); as message) {
            <div class="mt-4 bg-red-100 text-red-600 text-xs px-3 py-2 border border-red-200">
              {{ message }}
            </div>
          }

          <div class="mt-5">
            <button type="submit" [disabled]="loginForm.invalid || isLoading()" class="w-full py-2 text-sm text-white bg-[#0e0d12] transition
                    disabled:bg-gray-300 disabled:cursor-not-allowed">
              {{ isLoading() ? 'Ingresando...' : 'Ingresar' }}
            </button>
          </div>

        </form>

        <div class="my-4 flex items-center gap-3">
            <hr class="w-full border-slate-300" />
            <p class="text-xs text-slate-500">o</p>
            <hr class="w-full border-slate-300" />
          </div>

          <div id="googleBtn" style="width: 100%;"></div>

          <p class="text-slate-600 text-xs mt-4 text-center">
            ¿No tienes cuenta?
            <a routerLink="/register" class="text-[#c35b64] font-medium hover:underline ml-1">
              Regístrate aquí
            </a>
          </p>

      </div>

      <div class="max-md:order-1 md:min-h-screen w-full h-full">
        <img src="img/store/login.png" class="w-full h-full object-cover" alt="login-citadel" />
      </div>

    </div>
  </div>
}
