<section class="hero-section">
  <header class="hero-header">
    <img src="/img/logo.png" alt="">
    <nav class="hero-nav">
      <ul class="list-nav">
        <li><a href="#">Tienda</a></li>
        <li><a href="#">Nosotros</a></li>
        <li><a href="#">Vinos</a></li>
        <li><a href="#">Colecciones</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
      <div class="hero-buttons">
        <button class="car-icon"><i class="bi bi-cart3"></i></button>
        <button class="sign-in">Iniciar Sesion</button>
        <button class="sign-up">Registrarse</button>
    </div>
    </nav>
  </header>
  <div class="hero-container">
    <div class="hero-content">
      <h1 class="author">CITADEL</h1>
      <strong class="title">EL ARTE DEL</strong>
      <strong class="subtitle">BUEN VINO</strong>
      <p class="description">Descubre nuestra exclusiva coleccion de vinos, elaborados con pasion y tradicion en los mejores viñedos del mundo.Descubre nuestra exclusiva coleccion de vinos, elaborados con pasion y tradicion en los mejores viñedos del mundo.</p>
      <div class="buttons">
        <button>Ver Productos</button>
        <button>Iniciar Sesion</button>
      </div>
    </div>
  </div>
</section>
