<header>
  <nav>
    <a href="">Home</a>
    <a href="">Info</a>
    <a href="">Contact</a>
  </nav>
</header>

<div class="container">
  <div class="carousel">
    <!-- List Item -->
    <div class="list">
      <div class="item">
        <img src="/img/landing/hero/carousel/1-fondo.webp">
        <div class="content">
          <div class="author">CITADEL</div>
          <div class="title">VINO SECO</div>
          <div class="subtitle">DE UVA</div>
          <div class="description">Disfruta de un vino seco sabor uva, elaborado con uvas seleccionadas que ofrecen un aroma intenso y un sabor equilibrado. Ideal para acompañar carnes, quesos y ocasiones especiales. Disponible desde S/ 20. Contáctanos para más información y descubre una experiencia única e inigualable en cada copa.</div>
          <div class="buttons">
            <button>Ver Productos</button>
            <button>Contactarse</button>
          </div>
        </div>
      </div>
      <div class="item">
        <img src="/img/landing/hero/carousel/2-fondo.webp">
        <div class="content">
          <div class="author">CITADEL</div>
          <div class="title">VINO SEMI SECO</div>
          <div class="subtitle">DE MANZANA</div>
          <div class="description">Refrescante vino semi seco elaborado a base de manzana, con un balance perfecto entre dulzura y acidez. Ideal para disfrutar frío y compartir en reuniones o celebraciones. Desde S/ 35, contactanos ya.</div>
          <div class="buttons">
            <button>Ver Productos</button>
            <button>Contactarse</button>
          </div>
        </div>
      </div>
      <div class="item">
        <img src="/img/landing/hero/carousel/3-fondo.webp">
        <div class="content">
          <div class="author">CITADEL</div>
          <div class="title">VINO ROSADO</div>
          <div class="subtitle">DE FRUTOS ROJOS</div>
          <div class="description">Vino rosado ligero con notas de fresa y frambuesa. Suave, aromático y fácil de beber, perfecto para tardes relajadas o como aperitivo. Con un precio de S/45 con una buena experiencia garantizada, comunicate ahora.</div>
          <div class="buttons">
            <button>Ver Productos</button>
            <button>Contactarse</button>
          </div>
        </div>
      </div>
      <div class="item">
        <img src="/img/landing/hero/carousel/4-fondo.webp">
        <div class="content">
          <div class="author">CITADEL</div>
          <div class="title">VINO TINTO</div>
          <div class="subtitle">RESERVA</div>
          <div class="description">Vino tinto de cuerpo medio, con notas frutales y un ligero toque a madera. Perfecto para acompañar carnes rojas y pastas. Su sabor profundo lo convierte en una excelente opción para cenas especiales. Disfrutalo desde S/ 37.</div>
          <div class="buttons">
            <button>Ver Productos</button>
            <button>Contactarse</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Thumbnails -->
     <div class="thumbnail">
      <div class="item">
        <img src="/img/landing/hero/thumbnail/2.png">
        <div class="content">
          <div class="title">SEMISECO</div>
          <div class="description">Manzana</div>
        </div>
      </div>
      <div class="item">
        <img src="/img/landing/hero/thumbnail/3.png">
        <div class="content">
          <div class="title">ROSADO</div>
          <div class="description">Frutos Rojos</div>
        </div>
      </div>
      <div class="item">
        <img src="/img/landing/hero/thumbnail/4.png">
        <div class="content">
          <div class="title">TINTO</div>
          <div class="description">Reserva</div>
        </div>
      </div>
      <div class="item">
        <img src="/img/landing/hero/thumbnail/1.png">
        <div class="content">
          <div class="title">SECO</div>
          <div class="description">Uva</div>
        </div>
      </div>
     </div>

    <!-- Arrows -->
     <div class="arrows">
      <button id="next">></button>
     </div>

     <div class="time"></div>
  </div>
</div>
