<section class="footer-section">
  <div class="footer-grid">
    <div class="footer-column">
      <img src="/img/logo.png" alt="Logo">
      <p class="footer-description">Descubre nuestra exclusiva coleccion de vinos, elaborados con pasion y tradicion en los mejores viñedos del mundo.</p>
      <div class="footer-socials">
        <a href="#"><i class="bi bi-facebook"></i></a>
        <a href="#"><i class="bi bi-instagram"></i></a>
        <a href="#"><i class="bi bi-twitter"></i></a>
        <a href="#"><i class="bi bi-youtube"></i></a>
      </div>
    </div>
    <div class="footer-column">
      <strong>Nuestra Tienda</strong>
      <ul>
        <li><a href="#">Frambuesas</a></li>
        <li><a href="#">Arandanos</a></li>
        <li><a href="#">Moras</a></li>
        <li><a href="#">Promociones</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <strong>Nuestra Empresa</strong>
      <ul>
        <li><a href="#">Nosotros</a></li>
        <li><a href="#">Catalago</a></li>
        <li><a href="#">Proceso Elaboracion</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <strong>Contactanos</strong>
      <ul>
        <li><i class="bi bi-whatsapp"></i><a href="#">+34 912 345 678</a></li>
        <li><i class="bi bi-envelope"></i><a href="#">info@vinadorada.com</a></li>
      </ul>
    </div>
  </div>
  <br>
  <hr>
  <br>
  <div class="footer-copy">
    <p>&copy; 2026 Citadel. Todos los derechos reservados.</p>
    <ul>
      <li><a href="#">Terminos de Servicio</a></li>
      <li><a href="#">Politica de Privacidad</a></li>
    </ul>
  </div>
  <br>
</section>
