.info-container {
  margin: 0;
  width: 100%;
  height: 800px;
  background-color: #eee;
}

.info-container .unique-container {
  margin: 0;
  width: 100%;
  height: 350px;
  padding: 10px;
  background-color: #0d1b22;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.info-container .unique-container .content {
  width: 300px;
  height: 300px;
  margin: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
}

.info-container .unique-container .content .icon {
  width: 90px;
  height: 90px;
  margin: 0;
  background-color: #c35b64;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.info-container .unique-container .content .icon i {
  font-size: 35px
}

.info-container .unique-container .content .icon:hover {
  background-color: #ffffff;
  color: #c35b64;
}

.info-container .unique-container .content h4 {
  font-size: 20px;
  font-family: Poppins;
  color: #ffffff;
  text-align: center;
  margin: 30px 0 0 0;
}

.info-container .unique-container .content p {
  font-size: 14px;
  font-family: Poppins;
  font-weight: 300;
  color: #ffffff;
  margin: 10px 0;
  text-align: center;
}
