.info-container {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #eee;
}

.info-container .unique-container {
  margin: 0;
  width: 100%;
  height: 350px;
  padding: 10px;
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.info-container .unique-container .content {
  width: 300px;
  height: 300px;
  margin: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
}

.info-container .unique-container .content .icon {
  width: 90px;
  height: 90px;
  margin: 0;
  background-color: var(--secondary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.info-container .unique-container .content .icon i {
  font-size: 35px
}

.info-container .unique-container .content .icon:hover {
  background-color: #ffffff;
  color: var(--secondary);
}

.info-container .unique-container .content h4 {
  font-size: 20px;
  font-family: Poppins;
  color: #ffffff;
  text-align: center;
  margin: 30px 0 0 0;
}

.info-container .unique-container .content p {
  font-size: 14px;
  font-family: Poppins;
  font-weight: 300;
  color: #ffffff;
  margin: 10px 0;
  text-align: center;
}

/* Seccion de Historia */
.info-container .history-container {
  margin: 0;
  width: 100%;
  height: 750px;
  background-color: var(--background);
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-container .history-container strong {
  font-family: Poppins;
  font-size: 18px;
  margin-top: 50px;
  color: var(--secondary);
}

.info-container .history-container h2 {
  font-family: Poppins;
  font-size: 50px;
  color: #ffffff;
  margin: 0;
  margin-top: 10px;
}

.info-container .history-container p {
  font-family: Poppins;
  font-size: 14px;
  color: #ffffff;
  margin: 10px 0 40px 0;
}

.info-container .history-container .history-grid {
  margin: 0;
  padding: 10px;
  width: 100%;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.info-container .history-container .history-grid .history-image {
  width: 100%;
  height: 430px;
  background-color: #12242d;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}

.info-container .history-container .history-grid .history-image .first-image {
  width: 50%;
  height: 100%;
  padding: 20px 10px 20px 20px;
}

.info-container .history-container .history-grid .history-image .first-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-container .history-container .history-grid .history-image .second-image {
  width: 50%;
  height: 100%;
  padding: 20px 20px 20px 10px;
}

.info-container .history-container .history-grid .history-image .second-image img {
  width: 100%;
  height: 47%;
  object-fit: cover;
  margin-bottom: 6%;
}

.info-container .history-container .history-grid .history-image .second-image img:last-child {
  margin: 0;
  width: 100%;
  height: 47%;
}

.info-container .history-container .history-grid .history-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 10px 70px 10px 40px;
}

.info-container .history-container .history-grid .history-content .content-title {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-size: 26px;
  color: #eee;
  line-height: 1.6;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

.info-container .history-container .history-grid .history-content .content-description {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-size: 14px;
  color: #ccc;
  line-height: 1.6;
  font-weight: 300;
  margin-top: 10px;
}

.info-container .history-container .history-grid .history-content .action-details {
  margin-top: 20px;
  width: 140px;
  height: 40px;
  background-color: transparent;
  border: 1px solid var(--secondary);
  border-radius: 5px;
  color: var(--secondary);
  font-family: Poppins;
  font-size: 14px;
  cursor: pointer;
}

.info-container .history-container .history-grid .history-content .action-details:hover {
  background-color: var(--secondary);
  color: #ffffff;
}

/* Seccion de Vinos Destacados */
.info-container .products-container {
  margin: 0;
  width: 100%;
  height: 850px;
  background-color: #12242d;
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-container .products-container strong {
  font-family: Poppins;
  font-size: 18px;
  margin-top: 50px;
  color: var(--secondary);
}

.info-container .products-container h2 {
  font-family: Poppins;
  font-size: 50px;
  color: #ffffff;
  margin: 0;
  margin-top: 10px;
}

.info-container .products-container p {
  font-family: Poppins;
  font-size: 14px;
  color: #ffffff;
  margin: 10px 0 40px 0;
}

.info-container .products-container .products-grid {
  margin: 0;
  width: 100%;
  height: 550px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  background-color: transparent;
  padding: 0 20px;
}

.info-container .products-container .products-grid .product-item {
  width: 100%;
  height: 540px;
  background-color: transparent;
  border-radius: 7px;
}

.info-container .products-container .products-grid .product-item .background-image {
  width: 100%;
  height: 300px;
  background-color: #162b36;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px 7px 0 0;
}

.info-container .products-container .products-grid .product-item .background-image img {
  width: 190px;
  height: 240px;
  object-fit: cover;
}

.info-container .products-container .products-grid .product-item .product-content {
  padding: 10px 15px;
  width: 100%;
  height: 230px;
  background-color: #11212a;
  border-radius: 0 0 7px 7px;
}

.info-container .products-container .products-grid .product-item .product-content .product-type {
  font-family: Poppins;
  font-size: 16px;
  color: var(--secondary);
}

.info-container .products-container .products-grid .product-item .product-content .product-title {
  font-family: Poppins;
  font-size: 20px;
  color: #ffffff;
  margin: 10px 0;
}

.info-container .products-container .products-grid .product-item .product-content .product-description {
  font-family: Poppins;
  font-size: 14px;
  color: #eee;
  margin: 10px 0;
  font-weight: 300;
}

.info-container .products-container .products-grid .product-item .product-content .product-details {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-container .products-container .products-grid .product-item .product-content .product-details .price {
  color: #eee;
  font-family: Poppins;
  font-size: 16px
}

.info-container .products-container .products-grid .product-item .product-content .product-details .action-details {
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: 1px solid var(--secondary);
  border-radius: 5px;
  color: var(--secondary);
  font-family: Poppins;
  font-size: 16px;
  cursor: pointer;
  padding: 5px 15px;
}

.info-container .products-container .products-grid .product-item .product-content .product-details .action-details:hover {
  background-color: var(--secondary);
  color: #ffffff;
}

.info-container .collections-container {
  margin: 0;
  width: 100%;
  height: 600px;
  background-color: #12242d;
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-container .collections-container strong {
  font-family: Poppins;
  font-size: 18px;
  margin-top: 50px;
  color: var(--secondary);
}

.info-container .collections-container h2 {
  font-family: Poppins;
  font-size: 50px;
  color: #ffffff;
  margin: 0;
  margin-top: 10px;
}

.info-container .collections-container p {
  font-family: Poppins;
  font-size: 14px;
  color: #ffffff;
  margin: 10px 0 40px 0;
}

.info-container .collections-container .collections-grid {
  margin: 0;
  width: 100%;
  height: 250px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 0 20px;
}

.info-container .collections-container .collections-grid .collections-content {
  width: 100%;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 10px 20px;

  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.792), rgba(0, 0, 0, 0.168)),
    url('/img/landing/hero/carousel/1-fondo.webp');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.info-container .collections-container .collections-grid .collections-content:nth-child(2) {
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.792), rgba(0, 0, 0, 0.168)),
    url('/img/landing/hero/carousel/2-fondo.webp');
}

.info-container .collections-container .collections-grid .collections-content:nth-child(3) {
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.792), rgba(0, 0, 0, 0.168)),
    url('/img/landing/hero/carousel/3-fondo.webp');
}

.info-container .collections-container .collections-grid .collections-content:nth-child(4) {
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.792), rgba(0, 0, 0, 0.168)),
    url('/img/landing/hero/carousel/4-fondo.webp');
}

.info-container .collections-container .collections-grid .collections-content .collections-details {
  margin: 0;
  color: var(--secondary);
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
}

.info-container .collections-container .collections-grid .collections-content .collections-title {
  margin: 10px 0 0 0;
  color: #ffffff;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 600;
}

.info-container .collections-container .collections-grid .collections-content .collections-description {
  margin: 5px 0 0 0;
  color: #eee;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
}

.info-container .collections-container .collections-grid .collections-content .action-details {
  margin: 20px 0 0 0;
  width: 140px;
  height: 40px;
  background-color: transparent;
  border: 1px solid var(--secondary);
  border-radius: 5px;
  color: var(--secondary);
  font-family: Poppins;
  font-size: 14px;
  cursor: pointer;
}

.info-container .collections-container .collections-grid .collections-content .action-details:hover {
  background-color: var(--secondary);
  color: #ffffff;
}

