<div class="history-container">
  <div class="bars-container">
    <div class="first-bar">
      <div class="author-tag">
        CITADEL
      </div>
    </div>
    <div class="second-bar"></div>
  </div>

  <div class="image-container">
    <img src="/img/landing/info/authors.webp" alt="Citadel" class="history-img">
  </div>

  <div class="content">
    <h3 class="title">HISTORIA</h3>
    <p class="description">A inicios de 2022, dos ingenieros con experiencia en el sector vitivinícola fundaron la empresa Ingeniería Tecnología y Agricultura SAC. Uno de ellos se especializó en el cultivo y manejo de berries y en la elaboración y cata de vinos. La empresa se enfocó en la producción de vinos y, a fines del mismo año, se incorporó un nuevo socio con experiencia en la elaboración y comercialización de vinos.</p>
    <div class="authors">
      <span class="author-name">
        <i class="fas fa-user"></i>
        Jhon Villanueva
      </span>
      <span class="author-name">
        <i class="fas fa-user"></i>
        Eloy Sanchez
      </span>
    </div>
  </div>
</div>

<div class="hola">
  Hola
</div>
