<section class="w-full bg-bg py-12 lg:py-16">
  <div class="px-4 md:px-24 lg:px-8">

    <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-4">

      <div class="flex flex-col items-center text-center px-5 animate-on-scroll fade-up delay-100">
        <div class="flex items-center justify-center w-[90px] h-[90px] mb-4 rounded-full bg-secondary text-white
                 transition-colors duration-300
                 animate-on-scroll icon-float-aura delay-100">
          <i class="bi bi-diagram-3 text-[35px]"></i>
        </div>
        <p class="mb-2 font-semibold text-[20px] text-white">
          Viñedos Selectos
        </p>
        <p class="text-[14px] font-light text-white">
          Uvas cultivadas en los mejores terroirs del mundo.
        </p>
      </div>

      <div class="flex flex-col items-center text-center px-5 animate-on-scroll fade-up delay-200">
        <div class="flex items-center justify-center w-[90px] h-[90px] mb-4 rounded-full bg-secondary text-white
                 transition-colors duration-300
                 animate-on-scroll icon-float-aura delay-200">
          <i class="bi bi-award text-[35px]"></i>
        </div>
        <p class="mb-2 font-semibold text-[20px] text-white">
          Premios Internacionales
        </p>
        <p class="text-[14px] font-light text-white">
          Más de 50 medallas de oro en concursos internacionales de vino.
        </p>
      </div>

      <div class="flex flex-col items-center text-center px-5 animate-on-scroll fade-up delay-300">
        <div class="flex items-center justify-center w-[90px] h-[90px] mb-4 rounded-full bg-secondary text-white
                 transition-colors duration-300
                 animate-on-scroll icon-float-aura delay-300">
          <i class="bi bi-truck text-[35px]"></i>
        </div>
        <p class="mb-2 font-semibold text-[20px] text-white">
          Pasión Artesanal
        </p>
        <p class="text-[14px] font-light text-white">
          Transporte climatizado para preservar la calidad de cada botella.
        </p>
      </div>

      <div class="flex flex-col items-center text-center px-5 animate-on-scroll fade-up delay-400">
        <div class="flex items-center justify-center w-[90px] h-[90px] mb-4 rounded-full bg-secondary text-white
                 transition-colors duration-300
                 animate-on-scroll icon-float-aura delay-400">
          <i class="bi bi-heart text-[35px]"></i>
        </div>
        <p class="mb-2 font-semibold text-[20px] text-white">
          Vinos Únicos
        </p>
        <p class="text-[14px] font-light text-white">
          Tres generaciones dedicadas al arte de la vinificación.
        </p>
      </div>

    </div>
  </div>
</section>


<section class="w-full bg-bg py-12 lg:py-16">
  <div class="px-4 md:px-20 lg:px-12">

    <div class="mb-8 text-center">

      <strong class="block mt-6 text-[16px] font-poppins text-secondary text-scroll-animate text-delay-100">
        CONOCE
      </strong>

      <h2 class="mt-1 text-[42px] font-poppins font-semibold text-white text-scroll-animate text-delay-200">
        Nuestra Historia
      </h2>

      <p class="mt-2 mb-6 text-[14px] font-poppins text-white/80 max-w-3xl mx-auto text-scroll-animate text-delay-300">
        Desde nuestros humildes comienzos hasta convertirnos en una bodega de renombre mundial, nuestra historia está
        marcada por la pasión, la dedicación y el amor por el vino.
      </p>

    </div>

    <div class="grid gap-8 lg:grid-cols-2 sm:mx-auto max-w-screen-lg">

      <div class="grid grid-cols-2 gap-5">
        <img class="object-cover w-full h-56 col-span-2 rounded shadow-lg
         transition-transform duration-300 ease-in-out
         hover:scale-105 cursor-zoom-in" src="/img/landing/info/salpicando.jpg" />

        <img class="object-cover w-full h-48 rounded shadow-lg
         transition-transform duration-300 ease-in-out
         hover:scale-110 cursor-zoom-in" src="/img/landing/info/franbuesas.jpg" />

        <img class="object-cover w-full h-48 rounded shadow-lg
         transition-transform duration-300 ease-in-out
         hover:scale-110 cursor-zoom-in" src="/img/landing/info/arandanos.jpg" />

      </div>

      <div class="flex flex-col justify-start px-6">

        <h3 class="text-[24px] font-poppins font-semibold text-white mb-2 text-scroll-slow text-delay-400">
          Un Legado de Excelencia
        </h3>

        <p
          class="text-[14px] font-poppins font-light leading-relaxed text-white/80 mb-3 text-scroll-animate text-delay-500">
          Nuestra bodega fue fundada en 1950 por la familia García, quienes comenzaron con una pequeña parcela de
          viñedos y una visión clara: crear vinos que reflejaran la esencia del terroir local.
          Nuestra bodega fue fundada en 1950 por la familia García, quienes comenzaron con una pequeña parcela de
          viñedos y una visión clara: crear vinos que reflejaran la esencia del terroir local.
        </p>

        <p class="text-[14px] font-poppins font-light leading-relaxed text-white/80 text-scroll-animate text-delay-600">
          Nuestra bodega fue fundada en 1950 por la familia García, quienes comenzaron con una pequeña parcela de
          viñedos y una visión clara: crear vinos que reflejaran la esencia del terroir local.
          Nuestra bodega fue fundada en 1950 por la familia García, quienes comenzaron con una pequeña parcela de
          viñedos y una visión clara: crear vinos que reflejaran la esencia del terroir local.
        </p>

        <button
          class="mt-4 w-[140px] h-[40px] border border-secondary text-secondary font-poppins text-[14px] rounded hover:bg-secondary hover:text-white transition text-scroll-fast text-delay-700">
          Ver Más
        </button>

      </div>
    </div>
  </div>
</section>

<section class="w-full bg-bg2 py-12">

  <div class="px-4 md:px-24 lg:px-8 animate-on-scroll fade-up delay-100">

    <div class="mb-8 text-center">
      <strong class="block mt-10 text-[18px] font-poppins text-secondary">
        NUESTRA SELECCION
      </strong>

      <h2 class="mt-2 text-[50px] font-poppins text-white">
        Vinos Destacados
      </h2>

      <p class="mt-2 mb-10 text-[14px] font-poppins text-white max-w-3xl mx-auto">
        Descubre nuestra selección exclusiva de vinos premiados, cuidadosamente elegidos para ofrecerte una experiencia
        inigualable en cada sorbo.
      </p>
    </div>

    <div class="grid gap-10 sm:grid-cols-2 lg:grid-cols-4">

      <div class="rounded-[7px] bg-transparent overflow-hidden flex flex-col
         transition-all duration-300 ease-out
         hover:-translate-y-3 hover:shadow-2xl hover:shadow-black/40">


        <div class="h-[300px] bg-bg3 flex items-center justify-center
         rounded-t-[7px] overflow-hidden group">

          <img src="/img/landing/info/products/1.png" class="w-[190px] h-[240px] object-contain
         transition-transform duration-500 ease-out
         group-hover:scale-125 cursor-zoom-in" alt="">

        </div>

        <div class="bg-bg4 px-4 py-3 rounded-b-[7px] flex flex-col flex-1">

          <strong class="text-[16px] font-poppins text-secondary">
            TINTO
          </strong>

          <h3 class="mt-2 text-[20px] font-poppins text-white">
            Gran Reserva Tempranillo
          </h3>

          <p class="mt-2 text-[14px] font-poppins text-white font-light">
            Un vino elegante y complejo, con aromas intensos de frutas rojas y notas de especias.
          </p>

          <div class="mt-auto pt-4 flex items-center justify-between">

            <span class="text-[16px] font-poppins text-white">
              $89.00
            </span>

            <button class="w-[150px] h-[50px] border border-secondary rounded-[5px]
                     text-secondary font-poppins text-[16px]
                     hover:bg-secondary hover:text-white transition">
              Ver Detalles
            </button>

          </div>
        </div>
      </div>

      <div class="rounded-[7px] bg-transparent overflow-hidden flex flex-col
         transition-all duration-300 ease-out
         hover:-translate-y-3 hover:shadow-2xl hover:shadow-black/40">

        <div class="h-[300px] bg-bg3 flex items-center justify-center
         rounded-t-[7px] overflow-hidden group">

          <img src="/img/landing/info/products/2.png" class="w-[190px] h-[240px] object-contain
         transition-transform duration-500 ease-out
         group-hover:scale-125 cursor-zoom-in" alt="">

        </div>
        <div class="bg-bg4 px-4 py-3 rounded-b-[7px] flex flex-col flex-1">
          <strong class="text-[16px] font-poppins text-secondary">TINTO</strong>
          <h3 class="mt-2 text-[20px] font-poppins text-white">Gran Reserva Tempranillo</h3>
          <p class="mt-2 text-[14px] font-poppins text-white font-light">
            Un vino elegante y complejo, con aromas intensos de frutas rojas y notas de especias.
          </p>
          <div class="mt-auto pt-4 flex items-center justify-between">
            <span class="text-[16px] font-poppins text-white">$89.00</span>
            <button class="w-[150px] h-[50px] border border-secondary rounded-[5px]
                           text-secondary font-poppins text-[16px]
                           hover:bg-secondary hover:text-white transition">
              Ver Detalles
            </button>
          </div>
        </div>
      </div>

      <div class="rounded-[7px] bg-transparent overflow-hidden flex flex-col
         transition-all duration-300 ease-out
         hover:-translate-y-3 hover:shadow-2xl hover:shadow-black/40">

        <div class="h-[300px] bg-bg3 flex items-center justify-center
         rounded-t-[7px] overflow-hidden group">

          <img src="/img/landing/info/products/3.png" class="w-[190px] h-[240px] object-contain
         transition-transform duration-500 ease-out
         group-hover:scale-125 cursor-zoom-in" alt="">

        </div>
        <div class="bg-bg4 px-4 py-3 rounded-b-[7px] flex flex-col flex-1">
          <strong class="text-[16px] font-poppins text-secondary">TINTO</strong>
          <h3 class="mt-2 text-[20px] font-poppins text-white">Gran Reserva Tempranillo</h3>
          <p class="mt-2 text-[14px] font-poppins text-white font-light">
            Un vino elegante y complejo, con aromas intensos de frutas rojas y notas de especias.
          </p>
          <div class="mt-auto pt-4 flex items-center justify-between">
            <span class="text-[16px] font-poppins text-white">$89.00</span>
            <button class="w-[150px] h-[50px] border border-secondary rounded-[5px]
                           text-secondary font-poppins text-[16px]
                           hover:bg-secondary hover:text-white transition">
              Ver Detalles
            </button>
          </div>
        </div>
      </div>
      <div class="rounded-[7px] bg-transparent overflow-hidden flex flex-col
         transition-all duration-300 ease-out
         hover:-translate-y-3 hover:shadow-2xl hover:shadow-black/40">

        <div class="h-[300px] bg-bg3 flex items-center justify-center
         rounded-t-[7px] overflow-hidden group">

          <img src="/img/landing/info/products/4.png" class="w-[190px] h-[240px] object-contain
         transition-transform duration-500 ease-out
         group-hover:scale-125 cursor-zoom-in" alt="">

        </div>
        <div class="bg-bg4 px-4 py-3 rounded-b-[7px] flex flex-col flex-1">
          <strong class="text-[16px] font-poppins text-secondary">TINTO</strong>
          <h3 class="mt-2 text-[20px] font-poppins text-white">Gran Reserva Tempranillo</h3>
          <p class="mt-2 text-[14px] font-poppins text-white font-light">
            Un vino elegante y complejo, con aromas intensos de frutas rojas y notas de especias.
          </p>
          <div class="mt-auto pt-4 flex items-center justify-between">
            <span class="text-[16px] font-poppins text-white">$89.00</span>
            <button class="w-[150px] h-[50px] border border-secondary rounded-[5px]
                           text-secondary font-poppins text-[16px]
                           hover:bg-secondary hover:text-white transition">
              Ver Detalles
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="w-full bg-bg2 py-12">

  <div class="px-4 md:px-24 lg:px-8 flex flex-col items-center animate-on-scroll fade-up delay-100">

    <strong class="mt-10 text-[18px] font-poppins text-secondary">
      EXPLORA
    </strong>

    <h2 class="mt-2 text-[50px] font-poppins text-white text-center">
      Nuestras Colecciones
    </h2>

    <p class="mt-2 mb-10 text-[14px] font-poppins text-white text-center max-w-3xl">
      Encuentra el vino perfecto para cada ocasión explorando nuestras cuidadas colecciones. Explorando nuestras
      cuidadas colecciones.
    </p>

    <div class="w-full grid gap-10 sm:grid-cols-2 lg:grid-cols-4 px-5">

      <div
        class="h-[250px] rounded-[7px] px-5 py-4 flex flex-col justify-center
         bg-cover bg-center bg-no-repeat
         transition-all duration-300 ease-out
         hover:-translate-y-3 hover:shadow-2xl hover:shadow-black/40
         bg-[linear-gradient(to_right,rgba(0,0,0,0.792),rgba(0,0,0,0.168)),url('/img/landing/hero/carousel/1-fondo.webp')]">


        <strong class="text-[15px] font-poppins font-medium text-secondary">
          24 Productos
        </strong>

        <h3 class="mt-2 text-[22px] font-poppins font-semibold text-white">
          Tintos
        </h3>

        <p class="mt-1 text-[14px] font-poppins font-light text-white">
          Intensos y con cuerpo.
        </p>

        <button class="mt-5 w-[140px] h-[40px] border border-secondary rounded-[5px]
                 text-secondary font-poppins text-[14px]
                 hover:bg-secondary hover:text-white transition">
          Ver Coleccion
        </button>
      </div>

      <div
        class="h-[250px] rounded-[7px] px-5 py-4 flex flex-col justify-center
         bg-cover bg-center bg-no-repeat
         transition-all duration-300 ease-out
         hover:-translate-y-3 hover:shadow-2xl hover:shadow-black/40
         bg-[linear-gradient(to_right,rgba(0,0,0,0.792),rgba(0,0,0,0.168)),url('/img/landing/hero/carousel/2-fondo.webp')]">


        <strong class="text-[15px] font-poppins font-medium text-secondary">
          24 Productos
        </strong>

        <h3 class="mt-2 text-[22px] font-poppins font-semibold text-white">
          Tintos
        </h3>

        <p class="mt-1 text-[14px] font-poppins font-light text-white">
          Intensos y con cuerpo.
        </p>

        <button class="mt-5 w-[140px] h-[40px] border border-secondary rounded-[5px]
                 text-secondary font-poppins text-[14px]
                 hover:bg-secondary hover:text-white transition">
          Ver Coleccion
        </button>
      </div>

      <div
        class="h-[250px] rounded-[7px] px-5 py-4 flex flex-col justify-center
         bg-cover bg-center bg-no-repeat
         transition-all duration-300 ease-out
         hover:-translate-y-3 hover:shadow-2xl hover:shadow-black/40
         bg-[linear-gradient(to_right,rgba(0,0,0,0.792),rgba(0,0,0,0.168)),url('/img/landing/hero/carousel/3-fondo.webp')]">


        <strong class="text-[15px] font-poppins font-medium text-secondary">
          24 Productos
        </strong>

        <h3 class="mt-2 text-[22px] font-poppins font-semibold text-white">
          Tintos
        </h3>

        <p class="mt-1 text-[14px] font-poppins font-light text-white">
          Intensos y con cuerpo.
        </p>

        <button class="mt-5 w-[140px] h-[40px] border border-secondary rounded-[5px]
                 text-secondary font-poppins text-[14px]
                 hover:bg-secondary hover:text-white transition">
          Ver Coleccion
        </button>
      </div>

      <div
        class="h-[250px] rounded-[7px] px-5 py-4 flex flex-col justify-center
         bg-cover bg-center bg-no-repeat
         transition-all duration-300 ease-out
         hover:-translate-y-3 hover:shadow-2xl hover:shadow-black/40
         bg-[linear-gradient(to_right,rgba(0,0,0,0.792),rgba(0,0,0,0.168)),url('/img/landing/hero/carousel/4-fondo.webp')]">


        <strong class="text-[15px] font-poppins font-medium text-secondary">
          24 Productos
        </strong>

        <h3 class="mt-2 text-[22px] font-poppins font-semibold text-white">
          Tintos
        </h3>

        <p class="mt-1 text-[14px] font-poppins font-light text-white">
          Intensos y con cuerpo.
        </p>

        <button class="mt-5 w-[140px] h-[40px] border border-secondary rounded-[5px]
                 text-secondary font-poppins text-[14px]
                 hover:bg-secondary hover:text-white transition">
          Ver Coleccion
        </button>
      </div>

    </div>
  </div>
</section>
