html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  --text: #ffffff;
  --primary: #2d3e51; /*647fa0*/
  --secondary: #c35b64; /*c23340*/
  --background: #0d1b22;
  --background-two: #12242d;
  --background-three: #162b36;
  --background-four: #11212a;

  --animation-speed: 0.5s;
  --animation-easing: ease-out;
}
