<div class="w-full flex mb-2"
  [ngClass]="{
    'justify-end': role === 'user',
    'justify-start': role === 'ai'
   }">

  <div class="max-w-[80%] px-2.5 py-2 text-[13px] leading-[1.35] break-words rounded-[10px]"
    [ngClass]="{
      'bg-[var(--admin-bg-icon)] text-white rounded-br-[4px]': role === 'user',
      'bg-gray-100 text-gray-900 rounded-bl-[4px]': role === 'ai',
      'italic animate-pulse text-gray-400': status === 'thinking'
    }">

    @if(status === 'thinking') {
      <span>Consultando...</span>
    } @else {
      <span class="whitespace-pre-line" [innerHTML]="sanitizeText(text)"></span>
    }
  </div>
  
</div>